body {
    margin: 0;
    padding: 0;
}
#game-board {
    position: relative;
    height: 100vh;
    background-color: #333;
}
#slider {
    position: absolute;
    bottom: 0;
    width: 20%;
    height: 10px;
    background-color: #fff;
    border-radius: 5px;
}
#ball {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
    animation: drop 2s infinite;
}
@keyframes drop {
    from {
        top: 0;
    }
    to {
        top: calc(100vh - 50px);
    }
}